.loginpage{
    // background-color: antiquewhite;
    margin: 0;
    font-family: "Inter-Regular", Helvetica;
}

// .container{
//     align-items: center;
//     top: 0;
//     bottom: 0;
//     width:400px;
//     height: 500px;
//     background-color: #84AFAF;
//     border: 1px;
//     border-style: solid;
//     border-color: #000000;
//     margin-left: 450px;
//     margin-top: 20px;
//     margin-bottom: 20px;


// }
.form-group{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
.form-group2{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;

}
.link{
    color: #4739df;
}
.menu{
    height: 10px;
    width: 10px;
}

