.loginpage{
    // background-color: antiquewhite;
    margin: 0;
    font-family: "Inter-Regular", Helvetica;
}
      
.heading {
        background-color: #b5d2d8;
        border: 1px;
        border-style: solid;
        border-color: #000000;
        box-shadow: 0px 4px 4px #00000040;
        height: 30px;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 10px;
        font-weight: 400px;
        
        
}

.container{
    align-items: center;
    top: 0;
    bottom: 0;
    width:400px;
    height: 500px;
    background-color: #84AFAF;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 50px;


}
.form-group{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
.form-group2{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
}
.link{
    color: #4739df;
}
